@charset "UTF-8";
.mod_itemgrid,.mod_type{
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}

.mod_itemgrid .fn,.mod_itemlist_small .hproduct .fn,.mod_banner .topic .desc{
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;-webkit-line-clamp:2;
	-webkit-box-orient:vertical
}

.mod_itemgrid:after,.mod_type:after,.mod_foot_search:after,.mod_foot_search .search_suggest:after,.wx_foot_act:after,.tm_coupon .tm_coupon_inner:after{
	clear:both;
	content:'\20';
	display:block
}

.category.open .icon_arr:before,.icon_arr:before{
	display:block;
	content:'\20';
	position:absolute;
	top:50%;
	width:12px;
	height:12px;
	border-top:1px solid #7d7d7d;
	border-left:1px solid #7d7d7d;
	background:none
}

.category.open .icon_arr:before{
	margin-top:-2px;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg)
}

.icon_arr:before{
	margin-top:-10px;
	-webkit-transform:rotate(-135deg);
	transform:rotate(-135deg)
}

.mod_filter{
	position:relative;
	position:-webkit-sticky;
	position:sticky;
	top:44px;
	z-index:20
}

.mod_filter .mod_filter_inner{
	background-color:#fff;
	border-bottom:solid 1px #DDD;
	border-top:solid 1px #DDD;
	height:44px;
	display:table;
	width:100%
}

.mod_filter .mod_filter_inner a{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border-right:solid 1px #EEE;
	color:#666;
	display:table-cell;
	height:44px;
	line-height:44px;
	text-align:center
}

.mod_filter .mod_filter_inner a.category{
	width:80px
}

.mod_filter .mod_filter_inner a.category.select .icon_arr:before{
	border-color:#E33B3D
}

.mod_filter .mod_filter_inner a:last-child{
	border-right:0 none;width:80px
}

.mod_filter .mod_filter_inner a.select{
	color:#E33B3D
}

.cur{
	color:#E33B3D
}

.icon_sort{
	vertical-align:-2px
}

.more_category{
	width:100%;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	overflow:hidden;
	position:absolute;
	left:0;
	top:0;
	z-index:50;
	background-color:#FFF;
	display:none
}

.more_category:after{
	content:"\020";
	display:block;
	height:1px;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	border-bottom:solid 1px #999
}

.more_category a{
	display:block;
	float:left;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	background-color:#FFF;
	text-align:center;
	color:#555;
	width:25%;
	height:44px;
	line-height:44px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	border-right:solid 1px #EEE;
	border-bottom:solid 1px #EEE
}

.more_category a:nth-child(4n){
	margin-right:-3px
}

.more_category a.select{
	color:#E33B3D
}

.filter.expand .more_wrapper{
	height:0px;
	position:relative;
	z-index:40
}

.filter.expand .more_category{
	display:block
}

.filter.expand .mod_filter_inner{
	border-bottom-color:#999;
	position:relative
}

.filter.expand .mod_filter_inner .category{
	border-right:solid 1px #999;
	position:relative;
	width:80px
}

.filter.expand .mod_filter_inner .category:before,.filter.expand .mod_filter_inner .category:after{
	content:"\020";
	display:block;
	height:1px;
	position:absolute;
	left:0;
	z-index:100;
	width:79px
}

.filter.expand .mod_filter_inner .category:before{
	top:-1px;
	background-color:#999;
	padding-right:1px
}

.filter.expand .mod_filter_inner .category:after{
	bottom:-1px;
	background-color:#DDD
}

.mod_filter_fixed{
	height:46px
}

.mod_filter_fixed .mod_filter{
	position:fixed;
	left:0;
	width:100%;
	padding:0
}

.lowIphone .mod_filter_fixed,.lowAndroid .mod_filter_fixed{
	position:relative
}

.lowIphone .mod_filter_fixed .mod_filter,.lowAndroid .mod_filter_fixed .mod_filter{
	position:absolute;
	top:0
}

.icon_arr{
	display:inline-block;
	vertical-align:middle;
	width:14px;
	height:14px;
	margin-top:-2px;
	position:relative
}

.icon_arr:before{
	content:'';
	width:8px;
	height:8px;
	margin-top:-7px;
	margin-left:2px
}

.category.open .icon_arr:before{
	width:8px;
	height:8px
}
	
.mod_filter .mod_category_wrap{
	position:relative;
	height:0;
	max-width:640px;
	margin:0 auto;
	z-index:20
}

.mod_category{
	position:absolute;
	top:0;
	left:0;
	right:0;
	background-color:#fff;
	max-height:310px;
	overflow:auto;
	border-bottom:5px solid #fff
}

.mod_category .cate_list a{
	display:block;
	padding:7px 10px;
	border-bottom:1px solid #E3E3E3;
	font-size:14px;
	color:#333;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden
}

.mod_category .cate_list .count{
	color:#999;
	margin-left:5px
}

.mod_category .cate_list .sub_cate_list{
	padding-left:20px
}

.mod_category .cate_list .sub_cate_list a{
	padding-left:0;
	color:#666;
	font-size:12px
}

.mod_category .cate_list li.checked > a{
	position:relative
}

.mod_category .cate_list li.checked > a:before{
	content:'';
	position:absolute;
	top:50%;
	right:10px;
	width:14px;
	height:14px;
	margin-top:-8px;
	border-radius:50%;
	border:1px solid #18C461;
	background-position:-3px -53px
}

.mod_category:after{
	content:'';
	display:block;
	position:relative;
	height:3px;
	background:#fff;
	margin-top:-1px
}

.mod_filter_mask{
	display:none;
	position:fixed;
	left:0;
	top:0px;
	bottom:0;
	right:0;
	height:100%;
	width:100%;
	background:rgba(0, 0, 0, 0.5);
	z-index:19
}


.mod_itemgrid{
	padding:15px 20px 0 10px;
	background-color:#FFF
}

.mod_itemgrid .hproduct{
	position:relative;
	background-color:#f3f3f3;
	width:50%;
	float:left;
	margin-bottom:10px
}

.mod_itemgrid .hproduct.active{
	background-color:#f3f3f3
}

.mod_itemgrid .hproduct:nth-child(2n){
	margin-right:-10px;
	float:right
}

.mod_itemgrid .fn{
	color:#444;
	padding:8px 10px 0 10px;
	margin-bottom:8px;
	line-height:18px;
	height:18px;
	word-break:break-all
}

.mod_itemgrid .prices{
	line-height:36px;
	height:34px;
	padding:0 0 4px 0;
	position:relative
}

.mod_itemgrid .prices strong,.mod_itemgrid .prices del{
	height:16px;
	line-height:18px;
	display:block;
	margin-left:10px
}

.mod_itemgrid .prices em{
	color:#e4393c;
	font-style:normal;
	vertical-align:top;
}

.mod_itemgrid .prices del{
	color:#666
}

.mod_itemgrid .discount{
	position:absolute;
	bottom:8px;
	right:10px;
	display:block;
	background-color:#333;
	color:#FFF;
	border-radius:9px;
	height:18px;
	line-height:18px;
	font-size:12px;
	padding:0 9px
}

.discount1{
	position:absolute;
	bottom:8px;
	right:10px;
	display:block;
	background-color:#fa081f;
	color:#FFF;
	border-radius:9px;
	height:18px;
	line-height:18px;
	font-size:12px;
	padding:0 9px
}

.mod_itemgrid .cover{
	min-height:145px;
	background-color:#E1E1E1;
	position:relative
}

.mod_itemgrid .cover img{
	width:100%;
	height:305px;
}

.mod_itemgrid .hot,.mod_itemgrid .dis,.mod_itemgrid .new{
	font-size:12px;
	padding:0 2px;
	color:#FFF;
	margin-right:5px;
	vertical-align:top
}

.mod_itemgrid .hot{
	background-color:#E33A3C
}

.mod_itemgrid .dis{
	background-color:#FF4E00
}

.mod_itemgrid .new{
	background-color:#3DC181
}

.mod_itemgrid .soldout .cover:after,.mod_itemlist .soldout .cover:after{
	background-color:rgba(0, 0, 0, 0.5);
	content:'\20';
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	bottom:0;
	left:0;
	right:0
}

.mod_itemgrid .soldout .cover:before,.mod_itemlist .soldout .cover:before{
	content:'售罄';
	position:absolute;
	z-index:10;
	color:#fff;
	width:54px;
	height:54px;
	border:2px solid #ccc;
	border-radius:55px;
	line-height:55px;
	text-align:center;
	font-size:18px;
	top:50%;
	left:50%;
	margin:-27px 0 0 -27px
}

.item_tag,.tag_long{
	position:absolute;
	top:10px;
	left:-5px;
	background-color:#333;
	color:#fff;
	height:20px;
	line-height:20px;
	padding:0 8px;
	text-align:center;
	font-size:10px
}

.item_tag:after,.tag_long:after{
	position:absolute;
	top:20px;
	left:0;
	border-right:5px solid #000;
	border-bottom:5px dashed transparent;
	content:'\20'
}

.tag_green{
	background-color:#3fc76f
}

.tag_green:after{
	border-left-color:#133b21
}

.tag_red{
	background-color:#e4393c
}

.tag_red:after{
	border-left-color:#AA2121
}

.tag_long{
	background-color:#e4393c;
	padding-right:0
}

.tag_long span{
	display:inline-block;
	position:relative;
	background:#2c2532;
	padding:0 5px;
	margin-left:5px
}

.tag_long:after{
	border-left-color:#AA2121
}

.mod_banner{
	border-bottom:1px solid #ddd;
	margin-bottom:15px;
	background-color:#FFF;
	min-height:120px
}

.mod_banner img{
	width:100%;
	min-height:120px;
	max-height:240px
}

.mod_banner .topic{
	padding:10px 10px 0 10px;
	font-size:12px
}

.mod_banner .topic .desc{
	min-height:36px;
	max-height:54px;
	overflow:hidden;
	-webkit-line-clamp:3
}

.mod_banner .topic .countdown{
	border-top:1px solid #eee;
	margin-top:10px;
	line-height:44px;
	height:44px;
	color:#333;
	text-align:center
}

.mod_banner .topic .mod_countdown{
	background-color:#333;
	color:#fff;
	border-radius:7px;
	padding:0 10px
}

.mod_banner .subscribe{
	border-top:1px solid #ddd;
	height:44px;
	line-height:44px;
	padding:0 8px;
	color:#999
}

.mod_banner .btn_subscribe{
	height:24px;
	line-height:24px;
	width:99px;
	border:1px solid #ddd;
	background-color:#FFF;
	display:block;
	float:right;
	text-align:center;
	border-radius:3px;
	margin-top:9px;
	color:#666;
	font-size:12px
}

.mod_type{
	padding:10px 40px 0 10px;
	border-top:1px solid #DDD
}

.mod_type a{
	height:34px;
	width:25%;
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	background:#fff;
	border:1px solid #ddd;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	color:#666;
	text-align:center;
	font-size:14px;
	line-height:34px
}

.mod_type a:nth-child(4n){
	margin-right:-30px
}

.mod_type a:active{
	background:rgba(0, 0, 0, 0.2)
}

.mod_type .cur{
	color:#e33b3d
}

.mod_slogan{
	line-height:32px;
	height:32px;
	position:relative;
	text-align:center;
	background:#f8f8f8;
	border-bottom:1px solid #ddd
}

.mod_fav{
	margin:15px 0;
	background:#efefef;
	height:50px;
	position:relative
}

.mod_fav .logo{
	width:100px;
	height:50px;
	position:absolute;
	top:0;
	left:0
}

.mod_fav .logo img{
	display:block;
	width:100%
}

.mod_fav .tit{
	margin-left:110px;
	margin-right:95px;
	font-size:14px;
	color:#444;
	height:50px;
	line-height:50px;
	overflow:hidden
}

.mod_fav .btn_fav{
	width:85px;
	height:50px;
	position:absolute;
	top:0;
	right:0
}

.mod_foot_search{
	margin:15px 10px
}

.mod_foot_search .search_row{
	margin-bottom:15px;
	width:100%;
	height:40px;
	position:relative;
	border-radius:4px
}

.mod_foot_search .search_row .input_keywords{
	-webkit-appearance:none;
	display:block;
	margin-right:50px;
	border:solid 1px #e4393c;
	width:99%;
	color:#999;
	height:40px;
	font-size:16px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding:0 50px 0 10px;
	border-radius:4px 0 0 4px
}

.mod_foot_search .search_row .input_keywords:focus{
	color:#333
}

.mod_foot_search .search_row .input_btn{
	-webkit-appearance:none;
	border:0 none;
	width:50px;
	height:40px;
	background-color:#e4393c;
	color:white;
	font-size:16px;
	text-align:center;
	position:absolute;
	right:0;
	top:0;
	border-radius:0 4px 4px 0
}

.mod_foot_search .search_suggest{
	max-height:160px;
	overflow:hidden
}

.mod_foot_search .search_suggest .tag{
	float:left;
	height:28px;
	line-height:28px;
	color:#666;
	background-color:#efefef;
	border:solid 1px #ddd;
	padding:0 10px;
	margin-right:10px;
	margin-bottom:10px
}

.mod_foot_search .search_suggest .tag:active{
	background-color:white;
	color:#e4393c
}

.mod_foot_search.wx_foot_search .search_row{
	position:relative
}

.mod_foot_search.wx_foot_search .search_row:before{
	content:"\020";
	position:absolute;
	top:12px;
	left:9px;
	display:block;
	width:15px;
	height:15px;
	background:transparent url(../images/icon_bar.png) no-repeat -48px -4px;
	background-size:220px 132px
}

.mod_foot_search.wx_foot_search .search_row .input_keywords{
	width:100%;
	border:solid 1px #ddd;
	border-radius:4px;
	-webkit-border-radius:4px;
	padding:0 10px 0 30px
}

.mod_foot_search.wx_foot_search .search_row .input_btn{
	display:none
}

.footer_search_line{
	border-top:solid 1px #ddd;
	padding-top:15px
}

.wx_foot_act{
	text-align:center;
	padding:10px 0px 0 6px
}

.wx_foot_act a{
	width:33%;
	float:left
}

.wx_foot_act a img{
	width:90px
}

.wx_foot_bnr{
	margin-top:10px
}

.wx_foot_bnr .item{
	display:block;
	margin:0 auto
}

.wx_foot_bnr .item img{
	display:block;
	width:100%
}

.wx_foot_shop{
	padding:0 10px;
	margin-top:10px
}

.wx_foot_shop .shop_item{
	border:1px solid #ddd;
	background:#F3F3F3;
	height:50px;
	position:relative
}

.wx_foot_shop .cover{
	float:left;
	height:50px;
	width:90px;
	margin-right:10px
}

.wx_foot_shop .cover img{
	width:90px;
	height:50px
}

.wx_foot_shop .info{
	padding:5px 10px;
	padding-right:50px
}

.wx_foot_shop .info .shop{
	font-weight:bold
}

.wx_foot_shop .info .desc{
	font-size:12px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}

.wx_foot_shop .fav{
	position:absolute;
	top:9px;
	right:10px
}

.wx_foot_shop .fav .btn_fav{
	display:inline-block;
	background:#7C7271;
	color:#fff;
	padding:5px 10px;
	border-radius:4px;
	font-size:14px;
	font-weight:bold
}

.mod_foot_focus{
	text-align:center;
	padding-bottom:10px
}

.mod_foot_focus .btn_focus{
	display:block;
	margin:8px 10px;
	border-radius:4px;
	background:#3985FF;
	color:#fff;
	padding:8px 10px;
	font-weight:bold
}

.mod_filter{
	top:0
}

.mod_slogan{
	margin-bottom:-1px
}

.mod_slogan:before{
	display:none
}

.mod_fixed_wrapper{
	margin-top:-1px
}

.tm_coupon{
	margin-top:-15px;
	padding:15px 0;
	background-color:#FFF
}

.tm_coupon .tm_coupon_inner{
	margin:0 10px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding-right:10px
	}
	
.tm_coupon .tm_coupon_inner a{
	background-color:#F3F3F3;
	width:50%;
	float:left
	}
	
.tm_coupon .tm_coupon_inner a:nth-child(2n){
	margin-right:-10px;
	float:right
	}
	
.tm_coupon .tm_coupon_inner img{
	display:block;
	width:100%;
	min-height:75px
	}
	
.top_text_gg .gg_text{
	display:block;
	float:left;
	width:50%;
	height:20px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
	}
	
.top_text_gg .limit_time{
	height:20px;
	line-height:20px;
	display:block;
	margin:10px;
	background-color:rgba(0, 0, 0, 0.5);
	color:#fff;
	font-size:12px;
	padding:0 10px
	}
	
.top_text_gg em{
	float:right;
	font-size:12px
	}

.mod_title_top{
	position:relative;
	height:40px;
	line-height:40px;
	padding:0 100px 0 10px;
	overflow:hidden;
	font-size:12px;
	z-index:20;
	background:#fff;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
	}
	
.mod_title_top em{
	color:#e4393c;
	margin:0 2px
	}
	
.mod_title_top span{
	position:absolute;
	right:10px
	}
	
.mod_title_top span:before{
	content:'\20';
	display:inline-block;
	width:15px;
	height:15px;
	background:url(/wx/img/mall/icon_timer.png) no-repeat 0 -30px;
	background-size:15px 45px;
	vertical-align:-3px;
	margin-right:2px
	}
	
.mod_filter .mod_filter_inner .filter:before{
	content:'\20';
	display:inline-block;
	width:20px;
	height:20px;
	background:url(/wx/img/mall/icon_select.png) no-repeat;
	background-size:20px 40px;
	vertical-align:-5px;
	margin:0 3px 0 -10px
	}
	
.mod_filter .mod_filter_inner .filter:after{
	content:'\20';
	display:inline-block;
	margin-right:-10px
	}
	
.mod_filter .mod_filter_inner .filter.select{
	color:#666
	}
	
.mod_filter .mod_filter_inner .filter.select:before{
	background-position:0 -20px
	}
	
.mod_itemgrid .hproduct .tag,.mod_itemlist .hproduct .tag{
	position:absolute;
	left:0;
	top:0;
	z-index:1;
	position:absolute;
	top:10px;
	left:-5px;
	background-color:#333;
	color:#fff;
	height:20px;
	line-height:20px;
	padding:0 8px;
	text-align:center;
	font-size:10px
	}
	
.mod_itemgrid .hproduct .tag.tag_red,.mod_itemlist .hproduct .tag.tag_red{
	background:#e4393c
	}
	
.mod_itemgrid .hproduct .tag.tag_green,.mod_itemlist .hproduct .tag.tag_green{
	background:#3fc76f
	}
	
.mod_itemgrid .hproduct .tag:after,.mod_itemlist .hproduct .tag:after{
	position:absolute;
	top:20px;
	left:0;
	border-right:5px solid #000;
	border-bottom:5px dashed transparent;
	content:'\20'
	}