@charset "utf-8";
.member-nav-sub{
	display:none;
	}
.member-nav-sub-ul{
	margin:0 0 0 0;
	padding:0 10px;
	list-style:none;
	}
.member-nav .side-nav .member-nav-sub-li{
	border-top:1px solid #f3f3f3;
	border-bottom:0;
	}
.member-nav .side-nav li .member-nav-sub-li .text{
	height:41px;
	line-height:41px;
	padding-left:43px;
	font-size:16px;
	color:#666;
	}
.member-nav .side-nav li .member-nav-sub-li a{
	padding:2px 10px;
	}
.member-nav .side-nav li .arrow{
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	-o-transition:all .3s;
	transition:all .3s;
	}
.arrow-rotate{
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	transform:rotate(90deg);
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	-o-transition:all .3s;
	transition:all .3s;
	}
.panel.tippage{
	margin:20px 0 0 0;
	padding:0;
	}
.panel.tippage .icon-success{
	float:right;
	display:block;
	width:30px;
	height:30px;
	font-size:80px;
	color:#77ba52;
	}
.panel.tippage .inStore{
	display:block;
	width:200px;
	height:40px;
	line-height:40px;
	margin:0 auto;
	background:#79bf2b;
	color:#fff;
	text-decoration:none;
	}
.panel.tippage .inStore:hover{
	text-decoration:none;
	}
.tabs-content > .content.padding0{
	padding:0;
	}
.right-small.right-small-product{
	width:150px;
	}
.dis-pro .ul-product{
	margin:5px 15px;
	line-height:1.2;
	}
.dis-pro .ul-product-a{
	display:block;
	}
.dis-pro .ul-product-a:before,.dis-pro .ul-product-a:after{
	content:".";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
	}
.dis-pro  li{
	position:relative;
	padding:20px 0 0 0;
	list-style:none;
	border-bottom:1px dotted #ccc;
	overflow:hidden;
	}
.dis-pro  li:last-child{
	border-bottom:0;
	}
.dis-pro .ul-product-argument{
	font-size:14px;
	color:#999;
	}
.dis-pro .ul-product-argument .columns{
	padding:0 0 0 0;
	}
.dis-pro .ul-product-info{
	font-size:14px;
	color:#999;
	}
.dis-pro .ul-product-info .column{
	margin:15px 0 0 0;
	padding:0 0 0 0;
	border-right:1px solid #eee;
	text-align:center;
	}
.dis-pro .ul-product-info .column:last-child{
	border-right:0;
	}
.dis-pro .ul-product-btn{
	margin:10px 0;
	padding:0 0 0 25px;
	}
.dis-pro .ul-product-btn:before,.dis-pro .ul-product-btn:after{
	content:".";
	height:0;
	display:block;
	visibility:hidden;
	clear:both;
	}
.dis-pro .ul-product-btn-div{
	float:left;
	width:50%;
	padding-right:5px;
	}
.dis-pro .ul-product-btn-div:last-child{
	padding-right:0;
	padding-left:5px;
	}
.dis-pro .ul-product-btn-a{
	display:block;
	margin:0 0 0 0;
	height:35px;
	line-height:35px;
	font-size:16px;
	}
.dis-pro .ul-product-btn-a-up{
	position:absolute;
	bottom:50px;
	right:0;
	margin:0 0 0 0;
	width:60px;
	height:35px;
	line-height:35px;
	font-size:16px;
	}
.dis-pro .pic{
	float:left;
	width:70px;
	height:70px;
	margin-right:10px;
	padding:1px;
	border:1px solid #ccc;
	border-radius:3px;
	}
.dis-pro .pic img{
	width:100%;
	height:100%;
	}
.dis-pro .text{
	overflow:hidden;
	font-size:14px;
	}
.dis-pro .check{
	float:left;
	height:70px;
	line-height:70px;
	width:15px;
	margin-right:10px;
	}
.dis-pro .pro-name{
	color:#333;
	font-size:14px;
	}
.dis-pro .pro-pric{
	margin-top:5px;
	color:#f37872;
	font-size:20px;
	}
.dis-pro .pro-pric span{
	font-size:14px;
	color:#999;
	}
.dis-pro .pro-pec{
	color:#999;
	}
.dis-pro .pro-pec .color{
	margin-right:5px;
	}
.dis-pro .ul-product-up li{
	position:relative;
	padding:20px 0;
	list-style:none;
	border-bottom:1px dotted #ccc;
	overflow:hidden;
	}
.dis-pro .ul-product-up li:last-child{
	border-bottom:0;
	}
.dis-pro-detail{
	}
.dis-pro-detail .summary{
	background:#fff;
	box-shadow:0 3px 3px rgba(0,0,0,.1);
	}
.dis-pro-detail .summary-pic{
	margin:0 0 0 0;
	}
.dis-pro-detail .summary-pic img{
	width:100%;
	height:auto;
	}
.dis-pro-detail .summary-name{
	padding:5px 15px;
	margin:0 0 0 0;
	font-size:16px;
	color:#333;
	}
.dis-pro-detail .summary-price{
	display:inline-block;
	padding:5px 15px 15px 15px;
	color:#f37872;
	font-size:25px;
	}
.dis-pro-detail .summary-price small{
	font-size:14px;
	}
.dis-pro-detail-count{
	margin-top:10px;
	background:#fff;
	text-align:center;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	}
.dis-pro-detail-count span{
	font-size:14px;
	color:#999;
	margin-left:10px;
	line-height:60px;
	}
.dis-pro-detail .describe .tab-title2{
	margin-top:10px;
	padding:0 0 0 0;
	border-top:1px solid #ddd;
	border-bottom:0;
	background:#f8f8f8;
	}
.dis-pro-detail .tabs.tab-title2 dd a{
	padding:10px 0;
	font-size:16px;
	border-bottom:1px solid #ddd;
	}
.dis-pro-detail .tabs.tab-title2 dd.active a{
	background:none;
	border-bottom:2px solid #45a5cf;
	}
.dis-pro-detail .tabs-content{
	background:#fff;
	}
.dis-pro-detail .tabs-content > .content{
	padding:0 0 60px 0;
	}
.pro-detail-bottom{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	padding:0 10px;
	height:60px;
	background:#fff;
	border-top:1px solid #ccc;
	box-shadow:0 -3px 3px rgba(0,0,0,.1);
	}
.pro-detail-bottom .columns{
	padding-right:0;
	}
.pro-detail-bottom .columns:first-child{
	padding-right:5px;
	}
.pro-detail-bottom .columns:last-child{
	padding-left:5px;
	}
.pro-detail-bottom .btn-a{
	display:block;
	margin:10px auto;
	height:40px;
	line-height:40px;
	}
.disstore .disstore-info .text{
	font-size:14px;
	color:#333;
	}
.disstore .disstore-info small{
	display:block;
	font-size:12px;
	color:#999;
	}
.disstore .arrow{
	position:absolute;
	right:10px;
	top:50%;
	margin-top:-5px;
	}
.disstore .txt-status-clock:before{
	float:right;
	content:"已冻结";
	margin-right:15px;
	line-height:50px;
	color:#999;
	font-size:12px;
	}
.disstore .txt-status-examine:before{
	float:right;
	content:"未审核";
	margin-right:15px;
	line-height:50px;
	color:#999;
	font-size:12px;
	}
.personinfo-txt .name{
	display:block;
	}
.per-consumption{
	line-height:40px;
	background:#999;
	color:#fff;
	font-size:14px;
	text-align:center;
	box-shadow:0 3px 3px rgba(0,0,0,.1);
	}
.per-consumption .columns:first-child{
	border-right:1px solid #ccc;
	}
.per-consumption .columns:last-child{
	border-left:1px solid #aaa;
	}
.panel.disdetail-head{
	padding:30px 10px;
	margin-top:45px;
	margin-bottom:0;
	overflow:hidden;
	border-bottom:1px solid #d5eef9;
	background:#f3fbff;
	width:100%;
	height:auto;
	box-shadow:0 2px 2px rgba(0,0,0,.1);
	}
.right-small.right-btn-brokerage{width:80px;}
.a-borkerage-detail{padding:7px 20px;text-align:center;border-radius:3px;border:1px solid #58b3dc;box-shadow:inset 0 0 3px #5ab5dd;box-shadow:0 0 1px #3188b3;color:#fff;}
.a-borkerage-detail:hover{color:#fff;}
.a-borkerage-detail:active{color:#fff;background:#51b2dc;}
.bro-spare{margin:0px 0 0 0;padding:20px 15px 0 15px;background:#1c5f97;border:0;border-bottom:1px solid #1c5f97;overflow:hidden;}
.bro-spare p.tip-txt{margin-bottom:0;font-size:16px;color:#fff;line-height:25px;}
.bro-spare p.tip-txt .icon-money{margin-left:0;margin-right:5px;}
.bro-spare p.tip-txt .balance-detail{float:right;}
.bro-spare p.tip-txt .icon-help{font-size:40px;color:#ffff00;}
.bro-spare .number-big{display:block;margin:0;font-size:40px;color:#fff;text-shadow:1px 2px 0 rgb(28,95,151);}
.bro-spare .field-2{margin:10px 0 15px 0;font-size:14px;color:#fff;}
.maneylist{margin:5px 15px;padding:0; list-style:none;}
.maneylist-li{position:relative;padding:10px 0;background:#fff;border-bottom:1px solid #eee;}
.maneylist-li:first-child{border-top:0;}
.maneylist-li .maneylist-line{padding-bottom:10px;}
.maneylist-li a{position:relative;display:block;color:#333;}
.maneylist-li a:active{background:#f1f1f1;}
.maneylist-li a:before,
.maneylist-li a:after{content:".";height:0;display:block;visibility:hidden;clear:both;}
.maneylist-li .icon-money-circle{display:inline-block;margin-top:-3px;margin-right:5px;width:15px;height:15px;border-radius:50%;line-height:15px;font-size:20px;color:#f8af75;border:1px solid #f8af75;text-align:center; vertical-align:middle;}
.maneylist-li .text{vertical-align:middle}
.maneylist-li .money-number{float:right;margin:5px 15px 0 0;padding:0 5px;border-radius:10px;height:20px;line-height:20px;color:red;font-size:14px;vertical-align:middle;}
.moenyamount-info{overflow:hidden;margin-right:30px;}
.moenyamount-info .text{font-size:18px;color:#333;}
.moenyamount-info small{display:block;font-size:14px;color:#999;}
.maneylist .maneylist-li .arrow{position:absolute;right:0;top:50%;margin-top:-5px;}
.bro-group{background:#f9f9f9;padding:15px 0;}
.bro-group .columns{text-align:center;}
.bro-group .columns:first-child{border-right:1px solid #f1f1f1;}
.bro-group-label{color:#999;font-size:14px;}
.bro-group-money{display:block;margin:10px 0 0 0;color:#666;font-size:25px;}
.bro-extract-btn{margin-top:20px;padding:0 15px;}
.bro-help{border-top:10px solid #eee;}
.bro-help h3{margin:20px;color:#333;font-size:16px;}
.bro-help-list{list-style:none;margin:0 15px;}
.bro-help-list-li{border-top:1px solid #dfdfdf;}
.bro-help-list-a{display:block;padding:15px 0;color:#666;font-size:14px;}
.bro-help-list-a span{margin-left:15px;}
.bro-help-list-a .arrow{float:right;margin-top:16px;background:url("../images/icon-ps.png") -55px 0;width:6px;height:11px;}
.tabs-content > .content.disstore{padding:0;}
.my-memvers .member-count{margin-top:45px;padding:0 15px;background:#fff; box-shadow:0 3px 3px rgba(0,0,0,.06);border-bottom:1px solid #dcdcdc;}
.my-memvers .member-count-title{padding:10px 0;border-bottom:1px solid #ebebeb;font-size:16px;color:#333;}
.my-memvers .member-count-title .icon-chunk-gray{display:inline-block;width:4px;height:20px;background:#ccc; border-bottom-left-radius:2px;border-bottom-right-radius:2px;}
.my-memvers .member-count-title .icon-chunk-blue{display:inline-block;width:4px;height:15px;background:#45a5cf;border-top-left-radius:2px;border-top-right-radius:2px; vertical-align:top;}
.my-memvers .member-count-title span{margin:0 0 0 10px;}
.my-memvers .member-count-row{padding:20px 0 30px 0;}
.my-memvers .member-count-column.columns{padding:0 10px;border-right:1px solid #eee;}
.my-memvers .member-count-column:last-child{border-right:0;}
.my-memvers .member-count-label{display:block;font-size:14px;color:#333;}
.my-memvers .member-count-number{display:block;padding:15px 0;font-size:28px;color:#f37872;font-style:normal;}
.my-memvers .member-count-more{font-size:12px;}
.my-memvers .member-browse{margin-top:10px;padding:0 15px;background:#fff;}
.my-memvers .member-browse-title{padding:10px 0;border-bottom:1px solid #ebebeb;font-size:16px;color:#333;}
.my-memvers .member-browse-title .icon-chunk-gray{display:inline-block;width:4px;height:20px;background:#ccc; border-bottom-left-radius:2px;border-bottom-right-radius:2px;}
.my-memvers .member-browse-title .icon-chunk-blue{display:inline-block;width:4px;height:15px;background:#45a5cf;border-top-left-radius:2px;border-top-right-radius:2px; vertical-align:top;}
.my-memvers .member-browse-title span{margin:0 0 0 10px;}
.my-memvers .member-browse-summey-info{float:left;}
.my-memvers .member-browse-ul{list-style:none;margin:0;}
.my-memvers .member-browse-li{padding:10px 0;border-bottom:1px solid #ebebeb;}
.my-memvers .member-browse-li:last-child{border-bottom:0;}
.my-memvers .member-browse-hearder{float:left;margin-right:10px;width:40px;height:40px;background:url("../images/icon-addition.png") no-repeat 0 -206px;background-size:300px;overflow:hidden;}
.my-memvers .member-browse-hearder img{width:40px;height:40px;border-radius:50%;}
.my-memvers .member-browse-nt{overflow:hidden;line-height:18px;}
.my-memvers .member-browse-name{display:block;font-size:18px;color:#333;}
.my-memvers .member-browse-time{font-size:12px;color:#999;}
.my-memvers .member-browse-summey-talk{float:right;padding:5px 10px;height:30px;background:#7bc351;border-radius:16px;font-size:12px;color:#fff;font-weight:bold;}
.my-memvers .member-browse-summey-talk:active{background:#87e252;}
.my-memvers .member-browse-summey-talk i{margin-right:5px; vertical-align:middle;}
.my-memvers .member-browse-summey-talk span{vertical-align:middle;}
.my-memvers .member-browse-summey-talk.disabled{background:#e0e0e0;}
.my-memvers .member-browse-detail{margin:0 15px 0 50px;}
.my-memvers .info-list{padding:5px 0;border-bottom:1px dashed #eee;color:#999;font-size:14px;}
.my-memvers .info-list:last-child{border-bottom:0;}
.my-memvers .info-list-label{color:#333;}
.my-memvers .info-list-value{color:#333;font-size:16px;}
.my-memvers .info-list-value.red{color:#f37872;font-weight:bold;font-size:20px;}
.my-memvers .member-browser-pro{display:inline-block;margin:0 15px 0 50px;padding:3px 10px;border:1px solid #eee;border-radius:8px;color:#999;font-size:14px;}
.my-memvers .member-browser-pro .arrow{margin-left:10px;}
.member-browser-pro-list{margin:10px 0 0 50px;}
.member-browser-pro-a{display:block;padding:3px 0;}
.member-browser-pro-a:before,
.member-browser-pro-a:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.member-browser-pro-a:active{background:#f1f1f1;}
.member-browser-pro-a .pro-img{float:left;margin-right:10px;}
.member-browser-pro-a .pro-img img{width:60px;height:60px;}
.member-browser-pro-a .pro-info{display:block;margin:0;overflow:hidden;}
.member-browser-pro-a .pro-name{display:block;line-height:20px;font-size:14px;color:#333;}
.member-browser-pro-a .pro-price{font-size:12px;color:#999;}
.member-browser-pro-a .pro-price strong{font-size:18px;color:#f37872;}
.my-memvers-list .sort{margin-top:45px;border-bottom:1px solid #e2e2e2;background:#fff;font-size:14px;}
.my-memvers-list .sort .columns{padding-right:0;border-right:1px solid #f1f1f1;}
.my-memvers-list .sort .columns:last-child{border-right:0;}
.my-memvers-list .sort a{display:block;padding:12px 0;text-align:center;color:#333;}
.my-memvers-list .sort a:hover{background:#daf4ff;}
.my-memvers-list .sort a.current{color:#45a5cf;}
.my-memvers-list .sort a.current .icon-arrow2{background-position:-93px -5px;}
.my-memvers-list .sort .icon-arrow2{margin-left:5px;}
.set-store-category{margin-top:20px;}
.category .item{padding:15px 0 0 0;background:#fff;border:1px solid #e2e2e2;margin:1px;cursor:pointer;border-radius:3px;}
.category .item:active{background:#ddd;border:1px solid #d5d5d5;}
.category .item h5{padding:0 15px;font-size:20px;color:#999;text-align:center;}
.category .item .percent{margin:0 auto 15px auto;width:140px;list-style:none;font-size:14px;color:#333;}
.category .item.current {background:#6ec1e5;border:1px solid #6ec1e5;}
.category .item.current:hover{background:#6ec1e5;}
.category .item.current .percent li{color:yellow;}
.category .item.current h5{color:#fff;font-size:25px;}
.catselect input[type="checkbox"],.catselect input[type="radio"]{padding-bottom:0;margin-bottom:0;padding-left:10px;}
.catselect .column, .catselect .columns{margin-bottom:5px;}