/*index579161314799754*/
@charset "utf-8";
body{background-color: #fff!important;color: #474747!important;}
a{color: #474747!important;}
/*购物车页顶部begin*/
.shopping-cart .top{width:100%;height:44px;border-bottom:1px solid #e5e5e5;background-color: #f7f7f7;line-height: 44px;}
.top .pro-num{float:left;display:inline-block;*display: inline;*zoom:1;font-size:16px;margin-left: 10px;}
.pro-num input,.pro-num p{display: inline-block;*display: inline;*zoom:1;margin-right: 10px;}
.top .continue{float:right;display:inline-block;*display: inline;*zoom:1;color: #666;margin-right: 10px;}
/*购物车页顶部end*/

/*商品列表begin*/
.list li{position:relative;top:0;left:0;min-height:100px;max-height: 345px;padding-top: 5px;border-bottom: 1px solid #e5e5e5;overflow: hidden;}
.list .trash{position:absolute;right:15px;top:45%;width:18px;height:18px;background:url(../images/base-icon.png) no-repeat -97px -82px;z-index: 2;}
.list .present{position:absolute;right:15px;top:45%;width:18px;height:18px;background:url(../images/base-icon.png) no-repeat -132px -71px;z-index: 2;}
.list .active{width: 94%;min-height: 24px;max-height: 42px;padding: 0 1%;padding-top: 8px;margin: 0 auto;background-color: #feebdc;overflow: hidden;}
.active .text{color: #ef7c61;font-size: 12px;overflow: hidden;vertical-align: top;}
.active .tag{width: 44px;height: 17px;display: inline-block;*display: inline;*zoom:1;background: url(../images/goods_tag.png) no-repeat;}
.tag.manjian{background-position: 0 -1px;}
.tag.zhijiang{background-position: 0 -28px;}
.tag.manzeng{background-position: 0 -55px;}
.tag.fanxian{background-position: 0 -82px;}
.tag.zhuanxiang{background-position: 0 -109px;}

.list .container{position:relative;top:0;left:0;margin-top: 10px;height: 90px;}
.container .show{float: left;display: inline-block;*display: inline;*zoom: 1;}
.show input{display: inline-block;*display: inline;*zoom:1;vertical-align: top;margin-top: 25px;margin-left: 10px;}
.show a{position: absolute;top: 0;left: 32px;width: 100%;height: 100%;}
.show a img{width:60px;height:60px;overflow: hidden;margin-top: 5px;}

.container .info{width: 50%;position: absolute;left: 110px;}
.info .name{height: 25px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.info .price{color: #9c9c9c;margin-bottom: 6px;}
.price strong{color:#fb0000;font-weight:normal;margin-left: 10px;font-size: 15px;}

.num-edit p,.num-edit div{float:left;display: inline-block;*display: inline;*zoom:1;}
.num-edit p{color: #9c9c9c;margin-right: 10px;}
.num-edit .number{width:40px;height:20px;border-top:1px solid #c8c8c8;border-bottom:1px solid #c8c8c8;line-height:20px;font-size:14px;text-align:center;}
.num-edit .edit{width:15px;height:20px;line-height:5px;background-color:#e6e6e6;border:1px solid #c8c8c8;}
.num-edit div{position: relative;top: 0;left: 0;z-index: 1;}
/*商品列表end*/

/*结算begin*/
.account{width: 94%;margin: 0 auto;margin-top: 10px;}
.account .delete{margin-bottom: 15px;}
.delete i{width:14px;height:17px;background:url(../images/base-icon.png) no-repeat -97px -82px;vertical-align: top;margin-top: 2px;margin-right: 7px;display: inline-block;*display: inline;*zoom: 1;}
.delete .delete-cur{margin-right: 17px;}

.account .total{max-height: 102px;background-color: #fff1e2;margin-bottom: 17px;font-size: 15px;overflow: hidden;}
.total .decrease{width: 96%;height: 50px;margin: 0 auto;border-bottom: 1px dotted #e1d4c4;overflow: hidden;}
.decrease p{float: left;display: inline-block;*display: inline;*zoom:1;line-height: 50px;margin-left: 20px;}
.decrease .discount{margin-right: 13px;}
.total strong{font-weight: normal;font-size: 16px;}
.decrease .fanxian strong,.final strong{color: #e03629;font-weight: normal;}
.total .final{height: 50px;width: 96%;margin: 0 auto;line-height: 50px;}
.final p{margin-left: 20px;}

.account .buy{margin-bottom: 13px;}
.account .buy input{width: 100%;height:38px;color:#fff;font-size:16px;font-weight:normal;letter-spacing:1px;line-height:38px;background-color:#F7762E;font-family: 微软雅黑;}
/*结算end*/

/*购物车内无商品的情况begin*/
.tips_view .tips_msg {
	text-align:center
}
.tips_view .tips_msg h3 {
	font-size:1.7em;
	color:#50555b;
	margin-bottom:0.44118em
}
.tips_view .tips_msg p {
	font-size:1.25em;
	color:#87888c
}
.tips_view .tips_msg:before {
	content:"\0020";
	display:block;
	margin:6em auto 3em
}
.tips_view .tips_btn {
	width:17em;
	margin:2em auto 2em
}
.tips_view.mitu_01 .tips_msg:before {
	width:18.05em;
	height:15.8em;
	background:url("../images/emptycart.png") 0 0 no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover
}
.button {
	font-size:1.7em;
	display:block;
	font-weight:700;
	text-align:center;
	line-height:2.61765em;
	-webkit-border-radius:0.23529em;
	-moz-border-radius:0.23529em;
	-ms-border-radius:0.23529em;
	-o-border-radius:0.23529em;
	border-radius:0.23529em;
	overflow:hidden;
	border-width:1px;
	border-style:solid;
	text-shadow:rgba(0,0,0,0.3) 0 -1px 0
}
.button.disable_button {
	color:#515459;
	text-shadow:rgba(0,0,0,0.1) 0 1px 0;
	background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#f3f4f6),color-stop(100%,#dfe0e2));
	background-image:-webkit-linear-gradient(#f3f4f6,#dfe0e2);
	background-image:-moz-linear-gradient(#f3f4f6,#dfe0e2);
	background-image:-o-linear-gradient(#f3f4f6,#dfe0e2);
	background-image:linear-gradient(#f3f4f6,#dfe0e2);
	-webkit-box-shadow:rgba(0,0,0,0.1) 0 0.02941em 0.11765em 0 inset;
	-moz-box-shadow:rgba(0,0,0,0.1) 0 0.02941em 0.11765em 0 inset;
	box-shadow:rgba(0,0,0,0.1) 0 0.02941em 0.11765em 0 inset;
	border-top-color:#d3d4d5;
	border-left-color:#dadbdd;
	border-right-color:#dadbdd;
	border-bottom-color:#dadbdd
}
.button.disable_button:active,.button.disable_button:hover {
	-webkit-box-shadow:rgba(0,0,0,0.3) 0 0.05882em 0.11765em 0.02941em inset;
	-moz-box-shadow:rgba(0,0,0,0.3) 0 0.05882em 0.11765em 0.02941em inset;
	box-shadow:rgba(0,0,0,0.3) 0 0.05882em 0.11765em 0.02941em inset;
	border-top-color:#a7a8a9;
	border-left-color:#c4c5c6;
	border-right-color:#c4c5c6;
	border-bottom-color:#d2d3d5
}
/*购物车内无商品的情况begin*/

/*换购活动入口begin*/
.more-active{width: 94%;height: 42px;margin: 0 auto 20px;border: 1px solid #e9e9e9;background-color: #f7f7f7;}
.more-active span{width: 49%;height: 42px;line-height: 42px;text-align: center;color: #666;display: inline-block;*display: inline;*zoom:1;}
.more-active .wmz{border-right: 1px solid #e9e9e9;}
.more-active .hg a{color: #F7762E!important;font-weight: bold;}
/*换购活动入口end*/

/*换购页面begin*/
.hg .top{height: 44px;border-bottom: 1px solid #e5e5e5;background-color: #f7f7f7;}
.top .select-all,.top .total-num{float: left;display: inline-block;*display: inline;*zoom:1;}
.top .select-all{margin-right: 12px;margin-top: 15px;margin-left: 10px;}
.top .total-num{font-size: 16px;line-height: 44px;}

.hg .list{margin-bottom: 17px;}
.hg .list li{height: 104px;border-bottom: 1px solid #e5e5e5;position: relative;top: 0;left: 0;}
.hg .list .show{float: left;display: inline-block;*display: inline;*zoom:1;}
.hg .list .show .choose{margin-top: 40px;margin-left: 10px;}
.hg .list .img{position: absolute;top: 0;left: 32px;width: 100%;height: 100%;}
.hg .list img{width: 60px;height: 60px;margin-top: 22px;padding: 0;}
.hg .list .info{margin-left: 113px;margin-top: 15px;}
.hg .list .price,.hg .list .num{color: #9c9c9c;}
.hg .list .price strong,.hg .list .num strong{margin-left: 10px;font-weight: normal;}

.hg .submit{width: 94%;height: 38px;margin: 0 auto 30px;background-color: #e94c3b;text-align: center;line-height: 38px;}
.hg .submit input{width: 100%;height: 100%;color: #fff;font-family: 微软雅黑;background-color: transparent;}
/*换购页面end*/
